<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- Include OData client context -->
    <import resource="classpath:/osa/identity/odata/client/olingo/identity-odata-context.xml" />
    <import resource="classpath:/osa/research/odata/client/olingo/research-odata-context.xml" />
    <import resource="classpath:/osa/resource/odata/client/olingo/resource-odata-context.xml" />
</beans>